@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  background: #304149;
  border-bottom: 7px solid #dd5024;
}
header .main_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}
header .main_header h1 {
  color: #fff;
}
header .main_header h1 span {
  color: #dd5024;
}
header nav ul {
  list-style-type: none;
  display: none;
  text-align: center;
  padding: 0.5rem 0;
  color: #fff;
}
header nav ul li {
  padding: 1rem 0;
  width: 100%;
}
header nav ul li:hover,
header nav ul li:active,
header nav ul li:after {
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0.04);
}

@media (min-width: 577px) {
  header {
    background: #304149;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .main_header {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
  }
  header .main_header #image {
    display: none;
  }
  header nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 0.5rem 0;
  }
  header nav ul li {
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 0 1rem;
    cursor: pointer;
  }
  header nav ul li:hover,
  header nav ul li:active,
  header nav ul li:after {
    opacity: 0.6;
    background-color: rgba(255, 255, 255, 0.04);
  }
}
.aircraft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../image/aircraft.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  color: #f3eae3;
  text-align: center;
  padding: 0 1rem;
  color: goldenrod;
}
.aircraft .leadPara {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 3rem;
}
.aircraft .belowpara {
  font-size: 18px;
  font-size: 14px;
}

.homeArticle {
  width: 100%;
  padding: 1rem;
}
.homeArticle .homearticleChildren {
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  color: #2c3034;
}
.homeArticle .homearticleChildren img {
  width: 90%;
}

@media (min-width: 577px) {
  .aircraft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(../image/aircraft.jpg);
    background-repeat: no-repeat;
    width: 100% 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #f3eae3;
    text-align: center;
    padding: 0 10rem;
    color: goldenrod;
  }
  .aircraft .leadPara {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  .aircraft .belowPara {
    font-size: 22px;
  }
}
@media (min-width: 577px) {
  .homeArticle {
    width: 100%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .homeArticle .homearticleChildren {
    margin-bottom: 2rem;
    text-align: center;
    width: 30%;
  }
  .homeArticle .homearticleChildren img {
    width: 100%;
    height: 20rem;
  }
  .homeArticle .homearticleChildren p {
    color: #232c43;
  }
}
.subscribeHeader {
  padding: 1.5rem 0;
  background-color: #304149;
  text-align: center;
}
.subscribeHeader p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 1rem 0;
}
.subscribeHeader fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribeHeader fieldset input {
  padding: 0.5rem 2px;
  width: 250px;
  outline: none;
}
.subscribeHeader fieldset button {
  background-color: #dd5024;
  padding: 0.4rem 1rem;
  color: #fff;
  border: none;
  font-size: 16px;
}

@media (min-width: 577px) {
  .subscribeHeader {
    padding: 1.5rem 10rem;
    background-color: #304149;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .subscribeHeader p {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin: 1rem 0;
  }
  .subscribeHeader fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }
  .subscribeHeader fieldset input {
    padding: 0.5rem 2px;
    width: 350px;
    outline: none;
  }
  .subscribeHeader fieldset button {
    background-color: #dd5024;
    padding: 0.4rem 1rem;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .subscribeHeader fieldset button:hover {
    opacity: 0.9;
    background-color: rgb(241, 103, 37);
  }
}
.aboutUs {
  width: 100%;
  background-color: #f2f2f2;
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aboutUs .aboutChildren {
  width: 100%;
  padding: 1rem 0;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5rem;
}
.aboutUs .aboutChildren .aboutheading {
  color: deeppink;
}
.aboutUs .separateBG {
  background-color: #232c43;
  color: #fff;
  padding: 1rem;
}

@media (min-width: 577px) {
  .aboutUs {
    background-color: #f2f2f2;
    width: 100%;
    padding: 0.5rem 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aboutUs .aboutChildren {
    width: 40%;
    padding: 1rem 0;
    font-size: 17px;
    text-align: justify;
    line-height: 2rem;
  }
  .aboutUs .aboutChildren .aboutheading {
    color: deeppink;
  }
  .aboutUs .separateBG {
    background-color: #232c43;
    color: #fff;
    padding: 1rem;
  }
  .aboutUs .aboutChildren11 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.booking {
  background-color: #f2f2f2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.booking .bookingChildOne {
  width: inherit;
  padding: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.booking .bookingChildOne h2 {
  color: deeppink;
}
.booking .bookingChildOne .childOneChildren {
  background-color: #e6e6e6;
  max-width: 100%;
  padding: 1rem;
  height: 25rem;
  margin: 1rem 0;
  color: #304149;
  font-size: 16px;
}
.booking .bookingChildOne .childOneChildren h3 {
  padding: 3rem 0;
}
.booking .bookingChildOne .childOneChildren p {
  line-height: 1.5rem;
  word-spacing: 3px;
  text-align: justify;
}
.booking .bookingChildOne .childOneChildren .price {
  margin-top: 2rem;
}
.booking .bookingChildTwo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
}
.booking .bookingChildTwo form {
  background-color: #304149;
  padding: 4rem 1rem;
  color: #fff;
}
.booking .bookingChildTwo form h2 {
  color: #fff;
  margin-bottom: 1rem;
}
.booking .bookingChildTwo form label {
  font-size: 22px;
  color: #fff;
  margin: 3rem 0;
  padding: 5rem 0;
}
.booking .bookingChildTwo form label input {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  outline: none;
  font-size: 18px;
}
.booking .bookingChildTwo form p {
  font-size: 25px;
  margin: 1rem 0;
}
.booking .bookingChildTwo form select {
  width: 10rem;
  height: 2rem;
  font-size: 16px;
}
.booking .bookingChildTwo form button {
  background-color: #dd5024;
  padding: 0.8rem 1.5rem;
  border: none;
  margin-top: 1rem;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.booking .bookingChildTwo form button:hover {
  opacity: 0.9;
  background-color: rgb(241, 103, 37);
}

@media (min-width: 577px) {
  .booking {
    background-color: #f2f2f2;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 15rem;
  }
  .booking .bookingChildOne {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .booking .bookingChildOne h2 {
    color: deeppink;
  }
  .booking .bookingChildOne .childOneChildren {
    background-color: #e6e6e6;
    max-width: 100%;
    padding: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1rem 0;
    color: #304149;
    font-size: 16px;
  }
  .booking .bookingChildOne .childOneChildren h3 {
    padding: 3rem 0;
  }
  .booking .bookingChildOne .childOneChildren p {
    line-height: 1.5rem;
    word-spacing: 3px;
    text-align: justify;
  }
  .booking .bookingChildOne .childOneChildren .price {
    margin-top: 2rem;
  }
  .booking .bookingChildTwo {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
  }
  .booking .bookingChildTwo form {
    background-color: #304149;
    padding: 4rem 1rem;
    color: #fff;
  }
  .booking .bookingChildTwo form h2 {
    color: #fff;
    margin-bottom: 1rem;
  }
  .booking .bookingChildTwo form label {
    font-size: 22px;
    color: #fff;
    margin: 3rem 0;
    padding: 5rem 0;
  }
  .booking .bookingChildTwo form label input {
    padding: 1rem 0;
    margin-bottom: 1rem;
    outline: none;
    font-size: 18px;
  }
  .booking .bookingChildTwo form p {
    font-size: 25px;
    margin: 1rem 0;
  }
  .booking .bookingChildTwo form select {
    width: 10rem;
    height: 2rem;
    font-size: 16px;
  }
  .booking .bookingChildTwo form button {
    background-color: #dd5024;
    padding: 0.8rem 1.5rem;
    border: none;
    margin-top: 1rem;
    color: #fff;
    font-size: 16px;
  }
  .booking .bookingChildTwo form button:hover {
    opacity: 0.9;
    background-color: rgb(241, 103, 37);
  }
}
footer {
  width: 100%;
  height: 10rem;
  font-size: 15px;
  font-weight: 400;
  background-color: #dd5024;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f6f6ec;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer a {
  text-decoration: none;
  margin-top: 1rem;
  color: #f6f6ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer a:hover {
  color: goldenrod;
}
footer a:active {
  color: goldenrod;
}
footer img {
  width: 25px;
}

@media (min-width: 577px) {
  footer {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    margin-top: 1rem;
    color: #f6f6ec;
  }
  a:hover {
    color: goldenrod;
  }
  a:active {
    color: goldenrod;
  }
  img {
    width: 25px;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */