.aboutUs {
  width: 100%;
  background-color: #f2f2f2;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  .aboutChildren {
    width: 100%;
    padding: 1rem 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5rem;
    // color: ;
    .aboutheading {
      color: deeppink;
    }
  }

  .separateBG {
    background-color: #232c43;
    color: #fff;
    padding: 1rem;
  }
}

//Desktop Responsive
@media (min-width: 577px) {
  .aboutUs {
    background-color: #f2f2f2;
    width: 100%;
    padding: 0.5rem 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .aboutChildren {
      width: 40%;
      padding: 1rem 0;
      font-size: 17px;
      text-align: justify;
      line-height: 2rem;
      .aboutheading {
        color: deeppink;
      }
    }

    .separateBG {
      background-color: #232c43;
      color: #fff;
      padding: 1rem;
    }
    .aboutChildren11 {
      height: fit-content;
    }
  }
}
