.aboutUs {
  width: 100%;
  background-color: #f2f2f2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  .aboutChildren {
    width: 100%;
    padding: 1rem 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5rem;

    .aboutheading {
      color: deeppink;
    }
  }

  .separateBG {
    background-color: #232c43;
    color: #fff;
    padding: 1rem;
  }
}

//laptop Responsive
@media (min-width: 769px) {
  .aboutUs {
    background-color: #f2f2f2;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-direction: center;
    justify-content: center;

    .aboutChildren {
      width: 35rem;
      padding: 1rem 0;
      font-size: 18px;
      text-align: justify;
      line-height: 2rem;
      .aboutheading {
        color: deeppink;
      }
    }

    .separateBG {
      background-color: #232c43;
      color: #fff;
      padding: 1rem;
    }
    .aboutChildren11 {
      height: fit-content;
    }
  }
}

//Tablet Responsive
@media (min-width: 577px) and (max-width: 768px) {
  .aboutUs {
    background-color: #f2f2f2;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    // align-items: center;

    .aboutChildren {
      width: 30rem;
      padding: 1rem 0;
      font-size: 15px;
      text-align: justify;
      line-height: 1.5rem;

      .aboutheading {
        color: deeppink;
      }
    }

    .separateBG {
      background-color: #232c43;
      color: #fff;
      padding: 1rem;
    }
    .aboutChildren11 {
      height: fit-content;
    }
  }
}
