.booking {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  .bookingChildOne {
    width: inherit;
    padding: 1rem;
    height: fit-content;
    h2 {
      color: deeppink;
    }
    .childOneChildren {
      background-color: #e6e6e6;
      max-width: 100%;
      padding: 1rem;
      height: 25rem;
      margin: 1rem 0;
      color: #304149;
      font-size: 16px;
      h3 {
        padding: 3rem 0;
      }
      p {
        line-height: 1.5rem;
        word-spacing: 3px;
        text-align: justify;
      }
      .price {
        margin-top: 2rem;
      }
    }
  }
  .bookingChildTwo {
    width: 100%;
    height: fit-content;
    padding: 1rem;

    form {
      background-color: #304149;
      padding: 4rem 1rem;
      color: #fff;
      h2 {
        color: #fff;
        margin-bottom: 1rem;
      }
      label {
        font-size: 22px;
        color: #fff;
        margin: 3rem 0;
        padding: 5rem 0;
        input {
          width: 100%;
          padding: 1rem 0.2rem;
          margin-bottom: 1rem;
          outline: none;
          font-size: 18px;
        }
      }

      p {
        font-size: 25px;
        margin: 1rem 0;
      }
      select {
        width: 10rem;
        height: 2rem;
        font-size: 16px;
      }
      button {
        background-color: #dd5024;
        padding: 0.8rem 1.5rem;
        border: none;
        margin-top: 1rem;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
      button:hover {
        opacity: 0.9;
        background-color: rgb(241, 103, 37);
      }
    }
  }
}

//Laptop Responsive
@media (min-width: 769px) {
  .booking {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .bookingChildOne {
      // flex-basis: 50%;
      padding: 1rem;
      height: fit-content;
      width: 40rem;
      h2 {
        color: deeppink;
      }
      .childOneChildren {
        background-color: #e6e6e6;
        max-width: 100%;
        padding: 1rem;
        height: fit-content;
        margin: 1rem 0;
        color: #304149;
        font-size: 18px;
        line-height: 1.5rem;
        h3 {
          padding: 3rem 0;
        }
        p {
          line-height: 1.5rem;
          word-spacing: 3px;
          text-align: justify;
        }
        .price {
          margin-top: 2rem;
        }
      }
    }
    .bookingChildTwo {
      width: 35rem;

      height: fit-content;
      padding: 1rem;

      form {
        background-color: #304149;
        padding: 4rem 1rem;
        color: #fff;
        h2 {
          color: #fff;
          margin-bottom: 1rem;
        }
        label {
          font-size: 22px;
          color: #fff;
          margin: 3rem 0;
          padding: 5rem 0;
          input {
            padding: 1rem 0.2rem;
            margin-bottom: 1rem;
            outline: none;
            font-size: 18px;
          }
        }

        p {
          font-size: 25px;
          margin: 1rem 0;
        }
        select {
          width: 10rem;
          height: 2rem;
          font-size: 16px;
        }
        button {
          background-color: #dd5024;
          padding: 0.8rem 1.5rem;
          border: none;
          margin-top: 1rem;
          color: #fff;
          font-size: 16px;
        }
        button:hover {
          opacity: 0.9;
          background-color: rgb(241, 103, 37);
        }
      }
    }
  }
}

//Tablet Responsive
@media (min-width: 577px) and (max-width: 769px) {
  .booking {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0.1rem;
    // gap: 0.5rem;
    .bookingChildOne {
      flex-basis: 50%;
      padding: 1rem;
      height: fit-content;
      h2 {
        color: deeppink;
      }
      .childOneChildren {
        background-color: #e6e6e6;
        max-width: 100%;
        padding: 1rem;
        height: fit-content;
        margin: 1rem 0;
        color: #304149;
        font-size: 16px;
        h3 {
          padding: 3rem 0;
        }
        p {
          line-height: 1.5rem;
          word-spacing: 3px;
          text-align: justify;
        }
        .price {
          margin-top: 2rem;
        }
      }
    }
    .bookingChildTwo {
      width: 50%;

      height: fit-content;
      padding: 1rem;

      form {
        background-color: #304149;
        padding: 3rem 1rem;
        color: #fff;
        h2 {
          color: #fff;
          margin-bottom: 1rem;
        }
        label {
          font-size: 20px;
          color: #fff;
          margin: 3rem 0;
          padding: 5rem 0;
          input {
            // width: 100%;
            padding: 1rem 0.2rem;
            margin-bottom: 1rem;
            outline: none;
            font-size: 16px;
          }
        }

        p {
          font-size: 17px;
          margin: 1rem 0;
        }
        select {
          width: 9rem;
          height: 2rem;
          font-size: 16px;
        }
        button {
          background-color: #dd5024;
          padding: 0.8rem 1.5rem;
          border: none;
          margin-top: 1rem;
          color: #fff;
          font-size: 16px;
        }
        button:hover {
          opacity: 0.9;
          background-color: rgb(241, 103, 37);
        }
      }
    }
  }
}
