footer {
  width: 100%;
  height: 10rem;
  font-size: 15px;
  font-weight: 400;
  background-color: $footerBg;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  color: #f6f6ec;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    margin-top: 1rem;
    color: #f6f6ec;
    display: flex;
    align-items: center;
  }
  a:hover {
    color: goldenrod;
  }
  a:active {
    color: goldenrod;
  }

  img {
    width: 25px;
  }
}

//Laptop and Tablet Responsive
@media (min-width: 579px) {
  footer {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    margin-top: 1rem;
    color: #f6f6ec;
  }
  a:hover {
    color: goldenrod;
  }
  a:active {
    color: goldenrod;
  }
  img {
    width: 25px;
  }
}
