header {
  background: $header_background;

  border-bottom: 7px solid #dd5024;

  .main_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    h1 {
      color: #fff;
      font-size: 23px;
      span {
        color: $spanColor;
      }
    }
    #image {
      width: 35px;
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: none;
      text-align: center;
      padding: 0.5rem 0;
      color: #fff;
      transition: 0.16ms;
      li {
        padding: 1rem 0;
        width: 100%;
        font-size: 13px;
      }
      li:hover,
      li:active,
      li:after {
        opacity: 0.6;
        background-color: rgb(255, 255, 255, 0.04);
      }
    }
  }
}

//Laptop Responsive
@media (min-width: 769px) {
  header {
    background: $header_background;
    // gap: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .main_header {
      // max-width: 100%;
      display: flex;
      width: fit-content;
      // justify-content: space-between;
      // padding: 2rem;
      h1 {
        font-size: 30px;
      }
      #image {
        display: none;
      }
    }

    nav {
      ul {
        list-style-type: none;
        display: flex;
        text-align: center;
        padding: 0.5rem 0;
        li {
          padding: 1rem 2rem;
          border-radius: 10px;
          margin: 0 1rem;
          cursor: pointer;
          font-size: 18px;
        }
        li:hover,
        li:active,
        li:after {
          opacity: 0.6;
          background-color: rgb(255, 255, 255, 0.04);
        }
      }
    }
  }
}

//Tablet Responsive
@media (min-width: 577px) and (max-width: 768px) {
  header {
    width: 100%;
    background: $header_background;
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    align-items: center;

    .main_header {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      h1 {
        font-size: 25px;
      }
      #image {
        display: none;
      }
    }

    nav {
      ul {
        list-style-type: none;
        display: flex;
        text-align: center;
        padding: 0.5rem 0;
        li {
          padding: 0.5rem 0.8rem;
          border-radius: 10px;
          margin: 0 0.5rem;
          cursor: pointer;
          font-size: 15px;
        }
        li:hover,
        li:active,
        li:after {
          opacity: 0.6;
          background-color: rgb(255, 255, 255, 0.04);
        }
      }
    }
  }
}
