header {
  background: $header_background;

  border-bottom: 7px solid #dd5024;

  .main_header {
    width: 100%;
    display: flex;
    //   align-items: center;
    justify-content: space-between;
    padding: 2rem;
    h1 {
      color: #fff;
      span {
        color: $spanColor;
      }
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: none;
      text-align: center;
      padding: 1rem 0;
      color: #fff;
      li {
        padding: 0.5rem 1rem;
      }
    }
  }
}
