.aircraft {
  display: block;
  background: url(../image/aircraft.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
}

.homeArticle {
  width: 100%;
  padding: 1rem;
  .homearticleChildren {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    img {
      width: 100%;
    }
    p {
      color: #232c43;
    }
  }
}
