.aircraftSection {
  background: url("./image/aircraft.jpg");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  height: 300px;
  width: 100%;
}

.homeArticle {
  width: 100%;
  padding: 1rem;
  .homearticleChildren {
    margin-bottom: 2rem;
    text-align: center;
    width: inherit;
    img {
      width: inherit;
    }
    p {
      color: #232c43;
    }
  }
}
